      <footer class="footer" id="footer">
        <div class="footer__content">
          <div class="footer__top">
            <div class="footer__info">
              <div class="footer__column">
                <a href="#preview">
                  <img
                    loading="lazy"
                    src="./wildberries/img/logoWhite.webp"
                    alt=""
                    class="logo"
                  />
                </a>
                <p class="footer__text">Безопасные выкупы и отзывы </p>
              </div>
              <div class="footer__column">
                <div class="header__socials">
                  <a
                    href="https://t.me/harmex_wb_ym_ozon"
                    target="_blank"
                    class="header__social header__social--telegram"
                    id="telegramFooterBtn"
                  >
                    <img
                      loading="lazy"
                      src="./wildberries/img/contact/telegram.webp"
                      alt=""
                    />
                  </a>
                  <a
                    href="https://vk.com/harmex_markeplace"
                    target="_blank"
                    class="header__social header__social--vk"
                    id="vkFooterBtn"
                  >
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="28" height="28" fill="#4a76a8">
                      <path d="M21.547 7h-3.29a.743.743 0 0 0-.655.392s-1.312 2.416-1.734 3.23C14.734 12.813 14 12.126 14 11.11V7.603A1.104 1.104 0 0 0 12.896 6.5h-2.474a1.982 1.982 0 0 0-1.75.813s1.255-.204 1.255 1.49c0 .42.022 1.626.04 2.64a.73.73 0 0 1-1.272.503 21.54 21.54 0 0 1-2.498-4.543.693.693 0 0 0-.63-.403h-2.99a.508.508 0 0 0-.48.685C3.005 10.175 6.918 18 11.38 18h1.878a.742.742 0 0 0 .742-.742v-1.135a.73.73 0 0 1 1.23-.53l2.247 2.112a1.09 1.09 0 0 0 .746.295h2.953c1.424 0 1.424-.988.647-1.753-.546-.538-2.518-2.617-2.518-2.617a1.02 1.02 0 0 1-.078-1.323c.637-.84 1.68-2.212 2.122-2.8.603-.804 1.697-2.507.197-2.507z"/>
                    </svg>
                  </a>
                  <a
                    href="https://max.ru/join/1jR1bEN_z6kWYf1Fj3An_LFlZeQXyZabUSbyB0RCpYw"
                    target="_blank"
                    class="header__social header__social--max"
                    id="maxFooterBtn"
                  >
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="28" height="28">
                      <text x="50%" y="55%" dominant-baseline="middle" text-anchor="middle" font-size="9" font-weight="800" fill="#4a76a8" font-family="Arial, sans-serif">MAX</text>
                    </svg>
                  </a>
                  <a
                    href="#"
                    class="header__social header__social--call"
                    id="open-callback-modal-footer"
                  >
                    <img
                      loading="lazy"
                      src="./wildberries/img/contact/call.webp"
                      alt=""
                    />
                  </a>
                </div>
                <h3 class="footer__text">
                  В мессенджерах отвечаем
                  <br />
                  за 1 минуту в Telegram и ВКонтакте
                </h3>
              </div>
            </div>

            <ul class="footer__links">
              <li>
                <p class="footer__title">Выкупы</p>
              </li>
              <li>
                <a class="footer__link" href="/samovykupy-tovarov-na-wildberries">Wildberries</a>
              </li>
              <li>
                <a class="footer__link" href="/samovykupy-tovarov-na-ozon">Ozon</a>
              </li>
              <li>
                <a class="footer__link" href="/samovykupy-tovarov-na-yandexMarket">Яндекс Маркет</a>
              </li>
              <li>
                <a class="footer__link" href="/samovykupy-tovarov-na-zolotoye-yabloko">Золотое яблоко</a>
              </li>
              <li>
                <a class="footer__link" href="/samovykupy-tovarov-na-pvz">Отзывы на ПВЗ</a>
              </li>
            </ul>
                     <ul class="footer__links">
              <li>
                <p class="footer__title">Наши соцсети</p>
              </li>
              <li>
                <a class="footer__link" target="_blank" href="https://t.me/harmex_marketplace">Telegram marketplace</a>
              </li>
              <li>
                <a class="footer__link" target="_blank" href="https://vk.com/harmex_markeplace">ВКонтакте marketplace</a>
              </li>
              <li>
                <a class="footer__link" target="_blank" href="https://vc.ru/id5676708">VC.ru marketplace</a>
              </li>
              <li>
                <a class="footer__link" target="_blank" href="https://dzen.ru/harmex_marketplace">Дзен marketplace</a>
              </li>
              <li>
                <a class="footer__link" target="_blank" href="https://max.ru/join/uPRYlrDgreRxhgVWo6S6eFP9RGSg0cida4Zql5ju4jM">Max marketplace</a>
              </li>
            </ul>

            <ul class="footer__links">
              <li>
                <p class="footer__title">&nbsp;</p>
              </li>
              <li>
                <a class="footer__link" target="_blank" href="https://t.me/harmex_samovikupi">Telegram самовыкупы</a>
              </li>
              <li>
                <a class="footer__link" target="_blank" href="https://vk.com/harmex_samovikupi">ВКонтакте самовыкупы</a>
              </li>
              <li>
                <a class="footer__link" target="_blank" href="https://vc.ru/id4285502">VC.ru самовыкупы</a>
              </li>
              <li>
                <a class="footer__link" target="_blank" href="https://dzen.ru/harmex_samovikupi">Дзен самовыкупы</a>
              </li>
              <li>
                <a class="footer__link" target="_blank" href="https://max.ru/join/1wqcvggEu7PR0H51S_snZsCkBgkGFGd6O2Y0XID9Qv4">Max самовыкупы</a>
              </li>
            </ul>

            <ul class="footer__links">
              <li>
                <p class="footer__title">Документы</p>
              </li>
              <li>
                <a class="footer__link" href="./docs/oferta.pdf">Пользовательское соглашение</a>
              </li>
              <li>
                <a class="footer__link" href="./docs/conf_policy.pdf">Политика конфиденциальности</a>
              </li>
              <li>
                <a class="footer__link" target="_blank" href="https://blog.harmex.ru/blog">Наш блог</a>
              </li>
              <li>
                <a class="footer__link" href="/#calculator">Калькулятор</a>
              </li>
              <li>
                <a class="footer__link" target="_blank" href="https://blog.harmex.ru/calculator">Стратегия продвижения</a>
              </li>
            </ul>
            <ul class="footer__links">
              <li>
                <a class="footer__title" href="tel:+74993254917">8 (499) 325-49-17</a>
              </li>
              <li>
                <a
                  id="tg"
                  target="_blank"
                  class="footer__link"
                  href="https://t.me/harmexsale_bot"
                >
                  <img
                    loading="lazy"
                    src="./wildberries/img/contact/telegram.webp"
                    width="24"
                    height="24"
                    alt=""
                  />
                  Telegram-бот Harmex
                </a>
              </li>
              <li>
                <a href="mailto:harmex.info@gmail.com" class="footer__link footer__link--email">harmex.info@gmail.com</a>
              </li>
            </ul>
          </div>
          <div class="footer__line"></div>
          <div class="footer__bottom">
            <p class="footer__text">
              © 2022-2025 Сервис «Harmex». Все права защищены
            </p>
            <div class="footer__bottom-btn" onclick="scrollToTop()">
              <p>Наверх</p>
              <a href="#" class="btn btn-primary">
                <img
                  loading="lazy"
                  src="./wildberries/img/arrow-narrow-up.webp"
                  alt=""
                />
              </a>
            </div>
          </div>
        </div>
      </footer>
